* {
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
::selection {
	background: #999;
	color: #fff;
	text-shadow: none;
}
section.datacenter {
	background-image: url("../img/datacenter/dc-bg.jpg");
	background-size: cover;
	background-position: top left;
	background-repeat: no-repeat;
	padding-bottom: 0;
	position: relative;
    z-index: 100;
}

.bg_shade {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}
.l-box {
	padding: 1rem 1.5rem;
}
/* @media all and (min-width:30em) */
h1, h2, h3, h4, h5, h6 {
	font-size: 2.34rem;
}
.t-slab h1, .t-slab h2, .t-slab h3, .t-slab h4, .t-slab h5, .t-slab h6 {
	color: #443558;
}
.t-slab--purple__primary-title-color, .t-slab--purple h1, .t-slab--purple h2, .t-slab--purple h3, .t-slab--purple h4, .t-slab--purple h5, .t-slab--purple h6 {
	color: #fff;
}
.t-slab p {
	font-size: 1rem;
	color: #7b7b7b;
	line-height: 1.7;
	margin-bottom: 2rem;
}
.t-slab--purple p {
	color: #ceedf2;
}
/* @media all and (min-width:30em) */
.t-slab p.t-slab__para-lrg {
	font-size: 1.18rem;
	line-height: 1.71em;
}
.link, a {
	color: #462279;
}
.o-btn {
	position: relative;
	display: inline-block;
	background-color: #7b7b7b;
	border-radius: 40px;
	text-decoration: none;
	color: #171717;
	line-height: 1;
	font-weight: 500;
	padding: 1.091em 1.5em;
	padding-right: 3em;
	text-align: left;
	cursor: pointer;
	min-width: 13em;
	-webkit-transition: background-color .1s ease-in-out,transform .1s ease-in-out;
	transition: background-color .1s ease-in-out,transform .1s ease-in-out;
	width: auto;
}
.o-btn--primary {
	background: #1ec0d3;
	color: #fff;
}

.o-btn::after {
	content: "\e902";
	display: block;
	position: absolute;
	color: inherit;
	font-size: 1.25em;
	right: 1.34em;
	line-height: 100%;
	top: 50%;
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.c-vis-feature--platform-icons {
	width: 100%;
}
/* @media all and (min-width:48em) */
.c-vis-feature--platform-icons {
	position: absolute;
	padding: 6em 0em;
}
ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.c-vis-feature--platform-icons__list {
	list-style: none;
	text-align: center;
	position: relative;
	display: block;
	width: 100%;
}
.c-vis-feature--platform-icons__list__item {
	display: inline-block;
	width: 5.55em;
	padding: .5rem;
}
img, video, object {
	display: block;
	width: 100%;
}
picture img {
	position: relative;
	width: 100%;
}

#services h2 {
    margin-bottom: 20px;
    font-size: 42px;
    color: #5d5d5d;
}
#viewProducts.btn {
	margin: auto;
    width: 200px;
    display: table;
}
